
<include file="Public/header"/>
	<img src="__IMG__/cenbanner.jpg" alt="" class="pro_listbanner" />

	<div class="research_center1">
		<img src="__IMG__/bg01.png" alt="" class="bg1" />
		<img src="__IMG__/bg02.png" alt="" class="bg2" />
		<div class="text1">专注研发   锐意创新</div>
		<div class="text2">荷兰自家牧场、自家工厂，全自控产业链优势</div>
		<div class="main">
			<div class="box1 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="290">
				<div class="icon"></div>
				<div class="te1">国际化研发团队</div>
				<div class="te2">三十多位国内外营养学博士、乳业专家组成的国际化研发团队</div>
			</div>
			<div class="box2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s" data-wow-offset="270">
				<div class="icon"></div>
				<div class="te1">国内首家母乳研究数据库两大营养研究中心</div>
				<div class="te2">北大澳优母婴营养研究中心、荷兰乳品研发检测中心</div>
			</div>
			<div class="box3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s" data-wow-offset="290">
				<img src="__IMG__/cenpic1.png" alt="" class="pics" />
			</div>
		</div>
	</div>

	<div class="research_center2">
		<div class="text_tit">严苛生产</div>
		<div class="text_con">让每一克都更放心</div>
		<img src="__IMG__/cenicons.png" alt="" class="icons" />
		<ul class="main clr">
			<li class="list1 wow flipInX" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="290">
				<img src="__IMG__/centerlist1.png" alt="" class="pic" />
				<div class="text1">牧场管理</div>
				<div class="text2">Pasture management</div>
			</li>
			<li class="list1 wow flipInX" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="290">
				<img src="__IMG__/centerlist2.png" alt="" class="pic" />
				<div class="text1">奶牛管理</div>
				<div class="text2">cow management</div>
			</li>
			<li class="list1 wow flipInX" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="290">
				<img src="__IMG__/centerlist3.png" alt="" class="pic" />
				<div class="text1">牛乳管理</div>
				<div class="text2">Management of raw milk</div>
			</li>
			<li class="list1 wow flipInX" data-wow-duration="1s" data-wow-delay="0.8s" data-wow-offset="290">
				<img src="__IMG__/centerlist4.png" alt="" class="pic" />
				<div class="text1">奶牛管理</div>
				<div class="text2">cow management</div>
			</li>
			<li class="list1 wow flipInX" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="290">
				<img src="__IMG__/centerlist5.png" alt="" class="pic" />
				<div class="text1">销售管理</div>
				<div class="text2">Sales management</div>
			</li>
		</ul>
	</div>

	<div class="research_center3">
		<img src="__IMG__/bg01.png" alt="" class="bg1" />
		<img src="__IMG__/bg02.png" alt="" class="bg2" />
		<div class="title_word">Technology innovation</div>
		<div class="title_text">技术创新</div>
		<ul class="main clr">
			<li class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="290">
				<div class="con_box">
					<img src="__IMG__/center301.png" alt="" class="pic" />
				</div>
				<div class="text1">渗透压专利技术</div>
				<div class="text2">有效调整奶粉渗透压接近至母乳水平，降低肾脏负担。</div>
			</li>
			<li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="290">
				<div class="con_box">
					<img src="__IMG__/center302.png" alt="" class="pic" />
				</div>
				<div class="text1">先进的膜分离技术</div>
				<div class="text2">优化乳清蛋白与酪蛋白比例，从牛乳中富集乳铁蛋白等微量活性蛋白，同时保持其不变性失活</div>
			</li>
			<li class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="290">
				<div class="con_box">
					<img src="__IMG__/center304.png" alt="" class="pic" />
				</div>
				<div class="text1">领先全球的全自动生产设备</div>
				<div class="text2">从生产到包装，全生产线采用密闭化、全自动化模式，全程严格监控及质检把关</div>
			</li>
			<li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" data-wow-offset="290">
				<div class="con_box">
					<img src="__IMG__/center303.png" alt="" class="pic" />
				</div>
				<div class="text1">先进的生物酶解技术</div>
				<div class="text2">生物酶水解蛋白技术-适度水解部分蛋白质成易消化吸收的小分子蛋白</div>
			</li>
		</ul>
	</div>

	<div class="research_center4">
		<div class="title_word">Authoritative</div>
		<div class="title_text">资质/荣誉</div>
		<div class="main">
			<div class="picScroll-left">
				<div class="bd">
					<ul class="picList">
                    	<article:list name="vo" category="75">
						<li>
							<img src="{$vo.cover_id|get_cover='path'}" alt="" class="pic" />
							<div class="text1">{$vo.title}</div>
							<div class="text2">{$vo.description}</div>
						</li>
                        </article:list>
						
					</ul>
				</div>
				<div class="hd">
					<ul></ul>
				</div>
			</div>
		</div>
	</div>
<include file="Public/footer"/>
<script type="text/javascript" src="http://webmonkey.d17.cc/js/jquery/focus/jquery.slides.js"></script>
<script>
	deqier.modulePage(3);

	$(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4});

</script>
</body>
</html>