<include file="Public/header"/>

	<div class="pagein-newsdetail">
		<h1 class="h">{$info['title']}</h1>
		<p class="time">{$info['create_time']|date='Y-m-d H:i',###}</p>
		<div class="module_editor">
			{$info['content']}
		</div>
		<div class="module-articpages clr">
			<article:prev name="prev" info="info" >
			<div class="a_hidden prev"><a href="{:U('?id='.$prev['id'])}" class="link">上一篇：{$prev['title']}</a></div>
			</article:prev>	
			<article:next name="next" info="info">
			<div class="a_hidden next"><a href="{:U('?id='.$next['id'])}" class="link">下一篇：{$next['title']}</a></div>
			</article:next>
		</div>
	</div>
	
<include file="Public/footer"/>
<script>
	deqier.modulePage(4);
</script>
</body>
</html>